<h2>Users Table</h2>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Cost</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% courses.forEach(course => { %>
      <tr>
        <td>
          <a href="<%= `/courses/${course._id}` %> ">
            <%= course.title %>
          </a>
        </td>
        <td><%= course.description %></td>
        <td><%= course.cost %></td>
        <td>
          <a href="<%= `/courses/${course._id}/edit` %>">
            Edit
          </a>
        </td>
        <td>
          <a href="<%= `/courses/${course._id}/delete?_method=DELETE` %>" onclick="return confirm(`Are you sure want to delete this record?`)">
            DELETE
          </a>
        </td>
      </tr>
    <% }); %>
  </tbody>
</table>