<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Confetti cuisine</title>
</head>
<body>
  <%- include ('courses/_coursesModal') %>
  <div class="flashes">
    <% if(flashMessages) { %>
      <% if(flashMessages.success) { %>
        <div class="flash success"><%= flashMessages.success %></div>
      <% } else if (flashMessages.error) { %>
        <div class="flash error"><%= flashMessages.error %></div>
      <% } %>
    <% } %>
  </div>
  <div class="login">
    <% if (loggedIn) { %>
      <p>Logged in as 
        <a href="<% `/users/${currentUser._id}`%>"><%= currentUser.fullName %></a>
        <a href="/users/logout">Log out</a>
      </p>
    <% } else { %>
      <a href="/users/login">Log In</a>
    <% } %>
  </div>
  <%- body %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script src="/js/confettiCuisine.js"></script>
</body>
</html>